body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-40px;
  width:810px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:30px;
  width:810px;
  height:570px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:570px;
}
#u1 {
  position:absolute;
  left:2px;
  top:277px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:170px;
  top:150px;
  width:530px;
  height:368px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:368px;
}
#u3 {
  position:absolute;
  left:2px;
  top:176px;
  width:526px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:336px;
  top:172px;
  width:194px;
  height:28px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:28px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:228px;
  top:234px;
  width:115px;
  height:18px;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:18px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:229px;
  top:283px;
  width:80px;
  height:18px;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:231px;
  top:329px;
  width:42px;
  height:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:18px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:229px;
  top:370px;
  width:64px;
  height:18px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:18px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:229px;
  top:416px;
  width:94px;
  height:18px;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:381px;
  top:231px;
  width:200px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u17 {
  position:absolute;
  left:381px;
  top:281px;
  width:200px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u18 {
  position:absolute;
  left:380px;
  top:328px;
  width:200px;
  height:25px;
}
#u18_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19 {
  position:absolute;
  left:380px;
  top:371px;
  width:200px;
  height:25px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20 {
  position:absolute;
  left:380px;
  top:414px;
  width:200px;
  height:25px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21 {
  position:absolute;
  left:290px;
  top:475px;
  width:100px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u22 {
  position:absolute;
  left:470px;
  top:474px;
  width:100px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u23 {
  position:absolute;
  left:65px;
  top:79px;
  width:175px;
  height:40px;
  font-size:28px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:40px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:250px;
  top:70px;
  width:520px;
  height:50px;
}
#u25_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:526px;
  height:56px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:55px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
  font-size:20px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u28 {
  position:absolute;
  left:2px;
  top:14px;
  width:126px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:130px;
  top:0px;
  width:130px;
  height:50px;
  font-size:20px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u30 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:260px;
  top:0px;
  width:130px;
  height:50px;
  font-size:20px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u32 {
  position:absolute;
  left:2px;
  top:14px;
  width:126px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:390px;
  top:0px;
  width:130px;
  height:50px;
  font-size:20px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u34 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:260px;
  top:50px;
  width:130px;
  height:142px;
  visibility:hidden;
}
#u35_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:136px;
  height:148px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:147px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:46px;
  font-size:16px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:46px;
}
#u38 {
  position:absolute;
  left:2px;
  top:5px;
  width:126px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:46px;
  width:130px;
  height:46px;
  font-size:16px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:46px;
}
#u40 {
  position:absolute;
  left:2px;
  top:14px;
  width:126px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:0px;
  top:92px;
  width:130px;
  height:50px;
  font-size:16px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u42 {
  position:absolute;
  left:2px;
  top:16px;
  width:126px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:390px;
  top:50px;
  width:131px;
  height:171px;
  visibility:hidden;
}
#u43_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:137px;
  height:177px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:176px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:41px;
  font-size:16px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:41px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:127px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:41px;
  width:131px;
  height:38px;
  font-size:16px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:38px;
}
#u48 {
  position:absolute;
  left:2px;
  top:10px;
  width:127px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:79px;
  width:131px;
  height:46px;
  font-size:16px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:46px;
}
#u50 {
  position:absolute;
  left:2px;
  top:5px;
  width:127px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:125px;
  width:131px;
  height:46px;
  font-size:16px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:46px;
}
#u52 {
  position:absolute;
  left:2px;
  top:5px;
  width:127px;
  word-wrap:break-word;
}
