body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-30px;
  width:810px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:30px;
  width:810px;
  height:570px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:570px;
}
#u1 {
  position:absolute;
  left:2px;
  top:277px;
  width:806px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:250px;
  top:150px;
  width:330px;
  height:25px;
}
#u2_input {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:25px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3 {
  position:absolute;
  left:100px;
  top:155px;
  width:110px;
  height:20px;
  font-size:16px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:20px;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:100px;
  top:207px;
  width:42px;
  height:18px;
  font-size:16px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:18px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:149px;
  top:204px;
  width:40px;
  height:25px;
}
#u7_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8 {
  position:absolute;
  left:229px;
  top:202px;
  width:40px;
  height:25px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:25px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9 {
  position:absolute;
  left:199px;
  top:211px;
  width:20px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:3px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:20px;
  height:1px;
}
#u10 {
  position:absolute;
  left:119px;
  top:267px;
  width:616px;
  height:255px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:153px;
  top:0px;
  width:153px;
  height:30px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:306px;
  top:0px;
  width:153px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:8px;
  width:149px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:459px;
  top:0px;
  width:152px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:8px;
  width:148px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:30px;
  width:153px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:153px;
  top:30px;
  width:153px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:306px;
  top:30px;
  width:153px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:459px;
  top:30px;
  width:152px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:60px;
  width:153px;
  height:190px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:190px;
}
#u28 {
  position:absolute;
  left:2px;
  top:87px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:153px;
  top:60px;
  width:153px;
  height:190px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:190px;
}
#u30 {
  position:absolute;
  left:2px;
  top:87px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:306px;
  top:60px;
  width:153px;
  height:190px;
  text-align:center;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:190px;
}
#u32 {
  position:absolute;
  left:2px;
  top:87px;
  width:149px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:459px;
  top:60px;
  width:152px;
  height:190px;
  text-align:center;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:190px;
}
#u34 {
  position:absolute;
  left:2px;
  top:87px;
  width:148px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:297px;
  top:208px;
  width:129px;
  height:15px;
  font-size:16px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:15px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:442px;
  top:205px;
  width:200px;
  height:22px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  background-image:none;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u38 {
  position:absolute;
  left:680px;
  top:204px;
  width:100px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u39 {
  position:absolute;
  left:65px;
  top:79px;
  width:175px;
  height:40px;
  font-size:28px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:40px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:99px;
  top:239px;
  width:701px;
  height:15px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  height:15px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:701px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:250px;
  top:70px;
  width:520px;
  height:50px;
}
#u43_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:526px;
  height:56px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:525px;
  height:55px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
  font-size:20px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u46 {
  position:absolute;
  left:2px;
  top:14px;
  width:126px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:130px;
  top:0px;
  width:130px;
  height:50px;
  font-size:20px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u48 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:260px;
  top:0px;
  width:130px;
  height:50px;
  font-size:20px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u50 {
  position:absolute;
  left:2px;
  top:14px;
  width:126px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:390px;
  top:0px;
  width:130px;
  height:50px;
  font-size:20px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u52 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:260px;
  top:50px;
  width:130px;
  height:142px;
  visibility:hidden;
}
#u53_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:136px;
  height:148px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:147px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:46px;
  font-size:16px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:46px;
}
#u56 {
  position:absolute;
  left:2px;
  top:5px;
  width:126px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:0px;
  top:46px;
  width:130px;
  height:46px;
  font-size:16px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:46px;
}
#u58 {
  position:absolute;
  left:2px;
  top:14px;
  width:126px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:92px;
  width:130px;
  height:50px;
  font-size:16px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u60 {
  position:absolute;
  left:2px;
  top:16px;
  width:126px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:390px;
  top:50px;
  width:131px;
  height:171px;
  visibility:hidden;
}
#u61_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:137px;
  height:177px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:176px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:41px;
  font-size:16px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:41px;
}
#u64 {
  position:absolute;
  left:2px;
  top:12px;
  width:127px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:41px;
  width:131px;
  height:38px;
  font-size:16px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:38px;
}
#u66 {
  position:absolute;
  left:2px;
  top:10px;
  width:127px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:0px;
  top:79px;
  width:131px;
  height:46px;
  font-size:16px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:46px;
}
#u68 {
  position:absolute;
  left:2px;
  top:5px;
  width:127px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:0px;
  top:125px;
  width:131px;
  height:46px;
  font-size:16px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:46px;
}
#u70 {
  position:absolute;
  left:2px;
  top:5px;
  width:127px;
  word-wrap:break-word;
}
